<nav class="bd-navbar navbar is-fixed-top">
  <div class="container">
    <div class="navbar-brand animated pulse">
      <a class="navbar-item header-title" data-anchor="page-top" data-active="false">
        Kiwi Bird!
      </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
        <kb-score></kb-score>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-fullheight is-bold background-page">
  <div class="hero-body animated pulse">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column">
          <div></div>
          <kb-game></kb-game>
        </div>
      </div>
    </div>
  </div>
</section>
